<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="bootstrap.css">
<link rel="stylesheet" href="../css/lay2.css">
</head>
<body>
<div class="main">
<h1 class="header">
    <center>
            Movies
    </center>
</h1>
<center>
<form>
    Movie Name:<br>
    <input type="text" name="name" size="40" >
    <br>
    Summary:<br>
    <br>
    Type:<br>
    <br>
    Released:<br>
    <br>
    Runtime:<br>
    <br>
    Director:<br>
    <br>
    Writer:<br>
    <br>
    Actors:<br>
    <br>
    Language:<br>
    <br>
    Country:<br>
    <br>
    Awards:<br>
    <br>
    <br>
    <div class="buttonstyle">
    <button type="button" class="button">Send</button>
    <button type="button" class="button">Reset</button>
    <button type="button" class="button">Home</button>
    </div>
</form>
</center>
</div>
</body>
</html>