<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="bootstrap.css">
<link rel="stylesheet" href="../css/lay4.css">
</head>
<body>
<div class="main">
<h1 class="header">
    <center>
            Users
    </center>
</h1>
<center>
<form>
    First Name:<br>
    <input type="text" name="name" size="40" >
    <br>
    Last Name:<br>
    <input type="text" name="name" size="40" >
    <br>
    Email:<br>
    <input type="email" name="name" size="40" >
    <br>
    Age:<br>
    <input type="number" name="name" size="40" >
    <br>
    City:<br>
    <input type="text" name="name" size="40" >
    <br>
    State:<br>
    <input type="text" name="name" size="40" >
    <br>
    <br>
    <div class="buttonstyle">
    <button type="button" class="button">Send</button>
    <button type="button" class="button">Reset</button>
    <button type="button" class="button">Home</button>
    </div>
</form>
</center>
</div>
</body>
</html>