<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="bootstrap.css">
<link rel="stylesheet" href="../css/lay5.css">
</head>
<body>
<div class="main">
<h1 class="header">
    <center>
            Genre
    </center>
</h1>
<center>
<form>
    Movie Name:<br>
    <input type="text" name="name" size="40" >
    <br>
    Genre:<br>
    <input type="text" name="name" size="40" >
    <br>
    <br>
    <div class="buttonstyle">
    <button type="button" class="button">Send</button>
    <button type="button" class="button">Reset</button>
    <button type="button" class="button">Home</button>
    </div>
</form>
</center>
</div>
</body>
</html>